<section class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="content-header">Bienvenue !</h1>
        <%= form_for :user, url: users_path do |form| %>
            <%= form.text_field :email, class: 'form-control', placeholder: 'Email', required: true, input_html: { autofocus: true }, title: "Mon email, utilisé pour la connexion." %>
            <%= form.password_field :password, class: 'form-control', placeholder: 'Mot de passe', required: true, title: "Mon mot de passe, de préférence pas 'hunter2' ou '1234'." %>
            <%= form.text_field :name, class: 'form-control', placeholder: 'Nom', required: true, title: "Mon nom tel qu'il apparaitra sur le site." %>
            <%= form.submit 'Créer le compte !', class: 'form-control btn btn-lg btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<!--
* User              -> OK
    * email
    * password
    * name
    * groups        -> ** hmabt OK
    * expenditures  -> * hm OK
    * payments      -> * hm OK
-->