<section class="main-content">
<div id="form-signin" class="container">
  <div class="row justify-content-center text-center">
    <div class="col-12">
      <%= form_for :session, html: { class: 'form-signin' }, url: session_path do |form| %>
        <h1 class="form-signin-heading"><i class="fa fa-users"></i> FriendOS</h1>
        <div id="registration-block">
          <h3>Nouvel utilisateur ?</h3>
          <%= link_to 'Créer un compte', sign_up_path, id: "registration-button", class: 'btn btn-lg btn-success btn-block' %>
        </div>
        <h3>Déjà membre ?</h3>
        <%= form.label :email, 'Email', class: 'sr-only' %>
        <%= form.text_field :email, type: 'email', class: 'form-control', placeholder: 'Email', required: true, input_html: { autofocus: true }  %> 
        <%= form.label :password, 'Mot de passe', class: 'sr-only' %> 
        <%= form.password_field :password, type: 'password', class: 'form-control', placeholder: 'Mot de passe', required: true %> 
        <div id="login-block">
          <%= form.submit 'Connexion', id: 'login-button', class: 'btn btn-lg btn-primary btn-block' %>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Se souvenir de moi
            </label>
          </div>
        </div>
        <% end %>
      <!--/form-->
    </div>
  </div>
</div>
</section>